body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.oauth-login + .oauth-login {
  margin-top: 10px;
}

.list-group-item i {
  margin-right: 5px;
}

.list-group-item .fa-linkedin {
  margin-right: 9px;
}
