body {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  background-image: url("/images/envelope.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

a {
  color: #00b7ff;
 text-decoration: none;
}

.index-title {
  color: #cd5b56;
  margin-top: 15%;
  font-family: 'Righteous', cursive;
}

.index-subtitle {
  color: #5b7a9b;
  margin-top: 30px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px
}

p {
  color: #5b7a9b;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
}

h4{
  font-family: "Didact Gothic", sans-serif;
  font-size: 13px;
}

.oauth-login + .oauth-login {
  margin-top: 10px;
}

.list-group-item i {
  margin-right: 5px;
}

.list-group-item .fa-linkedin {
  margin-right: 9px;
}

.btn {
  background-color: #46668c;
  color: white;
}

.logo {
  margin-left: 43.5%;
  margin-top: 8%;
}

.container-cards{
  margin-top: 50px;
  max-height: 400px;
  overflow-y: scroll;
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 15px;
  border: none;
}

.card-text{
  padding: 10px;
  width: 100%;
  background-color:#fcf4e4;
  padding: 5px;
  text-align: left;
  padding-left: 20px;
  font-family: Helvetica,Arial,sans-serif;
  color: #bc584c;
  border-bottom: 1px solid;
  border-color: #e0ac9c;
}

.card-no-text{
    align-items: center;
    width: 100%;
    background-color: #fcf4e4;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.btn-red{
  background-color: #ce5554
}

.button-logout{
 display: inline-flex;
 background-color: red;
}

.btn-logout{
margin-left:45%;
color: white;
text-decoration: none;
}
