<!-- <form action="/admin" method="post" id="newsText">
  Username: <input type="text" name="user">
  Retweet: <input type="number" name="retweet">
  Link: <input type="url" name="url">
  <textarea name="comment" form="newsText">Enter text here...</textarea>
  <input type="submit">
</form> -->
