<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Start your session with linkedin</h2>
    <div class="col-xs-6 col-sm-4 col-sm-offset-4">

    <form class="oauth-login" action="auth/linkedin" method="post">
      <div class="form-actions">
    <button type="submit" class='btn btn-block btn-primary'>
       <i class="fab fa-linkedin-in"></i>Signup with LinkedIn</button>
    </form>

    </div>
  </body>
</html>
