<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<% news.forEach(function(singleNew) { %>
  <h2> <%= singleNew.comment %> </h2>

  <h2> The sentiment score is: <%= singleNew.sentimentScore%> </h2>
<% }) %>
