<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<div class="news-view">

<% news.forEach(function(singleNew) { %>
  <p> <%= singleNew.comment %> </p>
  <p> <%= singleNew.url %> </p>
  <p> The sentiment score is: <%= singleNew.sentimentScore%> </p>
<% }) %>

</div>
